h1{
    color: rgb(3, 3, 24);
    font-size: 5.5em;
    margin-top: 10px;
}
button{
    padding: 10px;;
    font-size: 30px;
    background-color: rgb(20, 102, 174);
    color: aliceblue;
    border-radius: 10px;
    font-family: sans-serif;

    

}
.button1{
    display: flex;
    gap:50px;
    padding: 15%;

}
#btn1:hover{
    background-color: black;
    color:white;
}
#btn2:hover{
    background-color: black;
    color:white;
}
#btn3:hover{
    background-color: black;
    color:white;
} 

body{
    background-color: rgba(2, 61, 98, 0.61);
} 
.box{
    border-color: black;
    border-width: 1px;
    margin-left: 30%;
    margin-right: 25%;
    padding: 20px;
    margin-top: 5%;

    background-color: rgb(190, 213, 213);
   
}
#counter{
    font-size: 88px;
    padding:5px;
} 
    

